
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<html>

<head>

</head>

<body>
    <div>
        <h1>Здраствуйте, вечеринка</h1>
        <p>-алкоголь будет</p>
        <p>-чипсы будут</p>
        <p>-Родителей не будет</p>
        <p>-Соседей не будет</p>
        <h2>Приходите ждем</h2>
    </div>
    
    <div>
        <a href="/Form/CreateGuest">
            <button>Открыть форму</button>
        </a>

        <br />
        <br />

        <a href="/Show/GuestTable">
            <button>Показать кто придет</button>
        </a>
    </div>


</body>

</html>

