
@{
    ViewBag.Title = "Action";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <div>
        <a href="/ShowCustomersDataBase/CustomersDataBase">
            <button>Показать данные таблицы Customers</button>
        </a>

        <br />
        <br />

        <a href="/ShowOrders/OrdersDataBase">
            <button>Показать данные таблицы Orders</button>
        </a>

        <br />
        <br />

        <a href="/EditCustomers/EditCustomers">
            <button>Обновить данные клиента</button>
        </a>

        <br />
        <br />

        <a href="/EditOrders/EditOrders">
            <button>Обновить данные заказа</button>
        </a>

        <br />
        <br />

        <a href="/CreateCustomers/Create">
            <button>Добавить клиента</button>
        </a>

        <br />
        <br />

        <a href="/CreateOrders/CreateOrder">
            <button>Добавить заказ</button>
        </a>

        <br />
        <br />

        <a href="/DeleteCustomers/DeleteCustomers">
            <button>Удалить клиента</button>
        </a>

        <br />
        <br />

        <a href="/DeleteOrders/DeleteOrders">
            <button>Удалить заказ</button>
        </a>
    </div>
</body>

