
@{
    ViewBag.Title = "Action";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <div>
        <a href="/ShowDataBaseTable/CustomersTable">
            <button>Показать данные таблицы Customers</button>
        </a>

        <br />
        <br />

        <a href="/ShowDataBaseTable/OrdersTable">
            <button>Показать данные таблицы Orders</button>
        </a>

        <br />
        <br />

        <a href="/CreateStringTable/InputIdCustomersEdit">
            <button>Обновить данные клиента</button>
        </a>

        <br />
        <br />

        <a href="/CreateStringTable/InputIdOrdersEdit">
            <button>Обновить данные заказа</button>
        </a>

        <br />
        <br />

        <a href="/CreateStringTable/CreateCustomers">
            <button>Добавить клиента</button>
        </a>

        <br />
        <br />

        <a href="/CreateStringTable/CreateOrder">
            <button>Добавить заказ</button>
        </a>

        <br />
        <br />

        <a href="/CreateStringTable/InputIdCustomersDelete">
            <button>Удалить клиента</button>
        </a>

        <br />
        <br />

        <a href="/CreateStringTable/InputIdOrdersDelete">
            <button>Удалить заказ</button>
        </a>
    </div>
</body>

