
@{
    ViewBag.Title = "Action";
}

<h2>Action</h2>

<a href="/Math/AllMethods">
    <button>калькулятор</button>
</a>

<br />
<br />

<a href="/CustomersTable/Index">
    <button>Показать данные таблицы Orders</button>
</a>

