@{
    ViewBag.Title = "shop";
}

@model IEnumerable<WebApplication8.Models.Orders>
    



<body >

    <main >

        <a href="/Shop/regOrAut">
            <button>Войти или зарегестрироваться</button>
        </a>

    </main>





</body>
    