
@{
    ViewBag.Title = "DeleteOrders";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model prak3AspMVC.Models.Orders
<h2>Удаление Customers</h2>
<dl>
    <dt>Данные</dt>
    <dd>
        @Html.DisplayFor(mod => mod.Name)
    </dd>

    <dt>Автор</dt>
    <dd>
        @Html.DisplayFor(mod => mod.Cost)
    </dd>

</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}

