
@{
    ViewBag.Title = "InputIdCustomersEdit";
}

@using (Html.BeginForm("InputIdCustomersEdit", "CreateStringTable", FormMethod.Post))
{
    <p>Введите id покупателя</p>
    <input type="text" name="numID" />
    <button type="submit">Изменить данные</button>
}
