
@{
    ViewBag.Title = "OrdersTable";
}

@model IEnumerable<prak3AspMVC.Models.Orders>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Клиенты</h3>
    <table>
        <tr class="header">
            <td><p>Название</p></td>
            <td><p>Стоимость</p></td>
            <td></td>
        </tr>
        @foreach (prak3AspMVC.Models.Orders b in Model)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Cost</p></td>

            </tr>
        }
</div>

